/* CSS Document */

.users_container .users {
	padding: 3rem !important;
}

.users_container .users .user_avatar {
	text-align: center;
	
}

.users_container .users .user_avatar img {
	margin: 0 auto;
	max-height: 300px;
	border: 4px solid #d5d5d5;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;
	max-width: 100%;
}

.users_container .users .user_name {
	margin-bottom: 0.5rem;
}

.users_container .users_search {
	position: relative;
	padding: 0 3rem 0.5rem;
	text-indent: 2.5rem;
}
